---
import GitHub from "../icons/GitHub.astro"
import NextJS from "../icons/NextJS.astro"
import React from "../icons/React.astro"
import Tailwind from "../icons/Tailwind.astro"
import Web from "../icons/Web.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import JavaScript from "../icons/JavaScript.astro"
import Cesese from "../icons/Cesese.astro"
import HTML from "../icons/Html.astro"
import LinkButton from "../LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#103673] text-white",
    icon: React,
  },
  ASTROICON: {
    name: "Astro",
    class: "bg-[#103673] text-white",
    icon: AstroIcon,
  },
  JSICON: {
    name: "JavaScript",
    class: "bg-[#B28501] text-white",
    icon: JavaScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: Cesese ,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#eb4034] text-white",
    icon: HTML ,
  },
}
const PROJECTS = [
  {
    title: "Grupo Oncologico - Pagina Web para Medico Oncologo",
    description:
    "El proyecto fue en conjunto con el medico con el objetivo de crear una página web totalmente personalizada.  La página web fue diseñada para destacar la experiencia del médico en oncología y su compromiso de brindar atención de calidad y empatica a sus pacientes.",
    link: "https://grupo-oncologico.vercel.app/",
    github: "https://github.com/LuisDNA1196/grupomedico",
    image: "/projects/grupoonco.webp",
    tags: [TAGS.ASTROICON, TAGS.JSICON, TAGS.TAILWIND],
  },
  {
    title: "Secretaria de Turismo - WebPage para Secretaria de turimo",
    description:
      'El proyecto "Página web de la Secretaría de Turismo" tenía como objetivo renovar y actualizar el sitio web de la Sectur para proporcionar a los visitantes una experiencia más fluida y fácil de usar. El objetivo era mejorar la experiencia del usuario y simplificar el proceso de registro para los usuarios, asegurando que pudieran acceder y utilizar fácilmente los servicios ofrecidos por la Sectur.',
    link: '',
    github: "",
    image: "/projects/sectur.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.REACT],
  },
  {
    title: "Pagina Web Restaurante/Negocio",
    description:
      "La página web para restaurante es una plantilla de sitio web versátil y dinámica adecuada para diversos negocios, incluyendo restaurantes, cafeterías, bares, y más. Diseñada para cautivar y comprometer a los visitantes desde el momento en que llegan, la página de aterrizaje cuenta con un diseño moderno y atractivo.",
    link: "https://restaurant-landingpage-eta.vercel.app/",
    github: "https://github.com/LuisDNA1196/Restaurant-Landingpage",
    image: "/projects/restaurant.webp",
    tags: [TAGS.CSS, TAGS.REACT],
  },
  {
    title: "HEUP Tienda Virtual",
    description:
      " La tienda en línea HEUP está dedicada al mundo Geek. La tienda en línea ofrece una amplia gama de productos inspirados en la cultura geek, incluyendo ropa, accesorios, gadgets y coleccionables. El sitio web está diseñado para proporcionar una experiencia de compra atractiva y sin interrupciones para los clientes, con una navegación fácil de usar y categorías de productos intuitivas.",
    link: "https://heupshop.vercel.app/",
    github: "https://github.com/LuisDNA1196/HEUPShop",
    image: "/projects/HEUP.webp",
    tags: [TAGS.CSS, TAGS.HTML, TAGS.JSICON],
  },
  
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-green-400/90 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-video"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        <footer class="flex gap-x-4 items-end justify-end mt-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Codigo
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
            <Web/>
            Sitio Web
          </LinkButton>)}
          
        </footer>
      </article>
    ))
  }
</div>
